.Transformable {
    position: absolute;
    left: 0;
    top: 0;
    // min-width: 300px;
    // min-height: 300px;
    // width: 1000px;
    // height: 1000px;
    z-index: 24;
    background-color: #5e5e5e;
    box-sizing: border-box;
    border: 1px solid #636363;
    border-radius: 5px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}