.HeaderBar {
    position: absolute;
    height: 26px;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-app-region: drag;
    z-index: 14;

    .Btn {
        position: absolute;
        width: 110px;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        -webkit-app-region: no-drag;

        .Item {
            position: relative;
            height: 100%;
            top: 0;
            width: 34px;
            cursor: pointer;

            &:hover {
                background-color: #474748;
            }

            &:nth-child(3):hover {
                background-color: #d61425;
            }

            .Icon {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 50%;
            }
        }
    }
}