// 全局字体
@font-face {
    font-family: PFBOLD;
    src: url("./assets/fonts/PFBOLD.ttf");
}

html,
body {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: PFBOLD;
    user-select: none;
    overflow: hidden;
}